.App {
  text-align: center;
}
.nav-links {
  display: flex;
  justify-content: space-evenly;

}
.link {
  border: 2px solid black;
  padding: 2px;
  border-radius: 10px;
  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(116, 109, 109);
}
.link:hover {
  color: black;
  background-color: lemonchiffon;
  text-decoration: none;
}
.component-title-div {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}
.joke-button {
  margin: 8px
}
.component-title {
  margin: 8px;
}
.cat-component {
  background-image: url('https://www.incimages.com/uploaded_files/image/1920x1080/getty_513189787_110007.jpg');
  height: 800px
}
.app-title{
  background-color: rgb(243, 192, 97);
  padding: 10px
}
.doggy-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#doggy-button {
  width: 20%;
  margin-bottom: 8px;
}
#doggy-photo {
  height: 400px;
  width: auto
}
.zip-code-title {
  font-size: 1.4rem;
}
.dog-component {
  background: linear-gradient(#e66465, #9198e5);
}
.zip-component {
  height: 200%;
  background: linear-gradient(#7e64da, #15dd30);
}
.joke-component {
  background: linear-gradient(#4cac2f, #ada640);
}